<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="robots" content="none"/>
  <meta name="theme-color" content="#2d1d15"/>
  <title>{{pageTitle}} — {{appTitle}}</title>
  <script>window.__CTX__ = "{{basePath}}";</script>
  <link rel="icon" href="{{basePath}}/static/favicon.svg" type="image/svg+xml"/>
  <link rel="stylesheet" href="{{basePath}}/themes/tregor/static/css/tregor.css"/>
  <link rel="stylesheet" href="{{basePath}}/static/css/bootstrap-icons.min.css"/>
  <link rel="stylesheet" href="{{basePath}}/themes/tregor/static/css/theme.css"/>
</head>
