<h1>{{t.verifyEmail.success.heading}}</h1>
<p class="alert alert-success" role="alert">{{#m}}verifyEmail.success.message|{{email}}{{/m}}</p>
<a role="button" href="{{basePath}}/">{{t.verifyEmail.backLogin}}</a>
